.lista {
    min-width: 400px;
    flex: 1;
    background: #ffffffc0;
    padding: 1rem;
    border-radius: 8px;
    margin:20xp;
    transition: background-color 0.3s ease;
    color: #000000;
    
  }

  .lista:hover {
    background-color: rgb(255, 255, 255); 
    transform: scale(1.015);
  }
  