.item-card{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    max-width: 300px;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

.item-card-form{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-info{
    display: flex;
    gap: 5px;
    align-items: start;
    margin: 15px 0;
}

.item-info p {
    margin: 0;
    font-size: 1rem;
}

.item-options{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.delete-options{
    display: flex;
    flex-direction: column;
}

.delete-options h3{
    font-size: 16px;
    color: red;
}

.delete-buttons{
    display: flex;
    justify-content: space-between;
}