
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    align-items: center;
  }
    
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
    transition: all 0.3s ease;
  }
  
  .input, .select {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: none;
  }
  
  .input, .select:focus {
    background-color: rgba(255, 255, 255, 1); 
    border-color: #51b1ff; 
    box-shadow: 0 0 8px rgba(81, 177, 255, 0.6); 
    transform: scale(1.02);
  }
  .listas {
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3rem;
    margin: 20px;
    align-items: center;
    
  }
  
  .formulario {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
  }
  
  .button {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background-color: #1d72b8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #79c1f0;
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
  }
  .input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    background-color: transparent;
    color: #222;
    transition: all 0.3s ease;
    outline: none;
  }
  
  .input:focus {
    background-color: rgba(255, 255, 255, 1); 
    border-color: #51b1ff; 
    box-shadow: 0 0 8px rgba(81, 177, 255, 0.6); 
    transform: scale(1.02);
  }
  
  
  