.select-table-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.select-table-form select{
    padding: 0.5rem 0.75rem;
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 1px solid #409EFF;
    box-shadow: 0 2px 10px rgba(64, 158, 255, 0.2);
    transform: scale(1.015);
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

.select-table-form .error-message{
    color: red;
    font-size: 14px;
}