.edit-mode, .delete-mode{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.edit-mode p, .delete-mode p{
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.edit-confirmation-buttons, .delete-confirmation-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.edit-confirmation-buttons button, .delete-confirmation-buttons button{
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    color: #000000;
}

.edit-confirmation-buttons button:hover, .delete-confirmation-buttons button:hover{
    transform: scale(1.1);
    color: #007BFF;
}