body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-size: 400% 400%;
  animation: fondoCeleste 15s ease infinite;
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  background-image: url('../public/360pop1.jpg');
  background-size:  100%;  
  background-position: center;  
  background-attachment: fixed; 
}
